.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #233D53 !important;
    border-color: #233D53;
    outline: none;
}

.page-item.disabled .page-link {
    color: #233D53;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #233D53;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #d39e00;
    background-color: #fff;
    border: 1px solid #233D53;
}